<div class="col-6 col-lg-6">
            <div class="single-blog-post featured-post">
                <div class="post-thumb">
                    <a href="#"><img src="{{ asset('img/bg-img/'~article.image) }}" alt="{{ article.titre }}"></a>
                </div>
                <div class="post-data">
                    <a href="{{ path('index_article', {
                        'categorie' : article.categorie.slug,
                        'slug' : article.slug,
                        'id' : article.id
                    }) }}" class="post-catagory">{{ article.categorie.nom }}</a>
                    <a href="{{ path('index_article', {
                        'categorie' : article.categorie.slug,
                        'slug' : article.slug,
                        'id' : article.id
                    }) }}" class="post-title">
                        <h6>{{ article.titre }}</h6>
                    </a>
                    <div class="post-meta">
                        <p class="post-author">Par <a href="#">{{ article.membre.nom ~ ' ' ~ article.membre.prenom }} </a> - le {{ article.dateCreation | date('d-m-Y')}}</p>
                        <p class="post-excerp">{{ article.contenu | summary}}</p>
                        <!-- Post Like & Post Comment -->
                        <div class="d-flex align-items-center">
                            <a href="#" class="post-like"><img src="{{ asset('img/core-img/like.png') }}" alt=""> <span>392</span></a>
                            <a href="#" class="post-comment"><img src="{{ asset('img/core-img/chat.png') }}" alt=""> <span>10</span></a>
                        </div>
                    </div>
                </div>
            </div>
</div>
